@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html,body{
    min-height:100vh;
    background-image: url(./Images/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Philosopher", sans-serif; 
    
   
}
.container{
    width: 100%;
    height: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 10px #000;  
    background:rgba(0,0,0,0.5);  
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height:50px;  
    display:inline-block;
    padding: 0px 20px ; 
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    position: auto;
}



nav .logo{
    position: fixed;
    left: 0px;
    width: 150px;
    height: 100px; 
}


nav li a{
    transition: all 0.3s ease 0s;
    
}
nav li a:hover{
    color:#E13136;
        
    
}

#special :hover{
    box-shadow: 0 16px 16px 12px rgba(0, 0, 0, 0.735),0 17px 50px 0 rgba(255, 255, 255, 0.849);
    border-radius: 0 10px 20px 10px;
    

    /* background-color: #0B517D; */


}
button{
    padding:9px 25px;
    background-color:#0B517D;
    border:none;
    border-radius:100px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color: white;

}
button:hover{
    background-color:#E13136;
    color: rgb(251,250,249,1);
    box-shadow: 0 16px 16px 12px rgba(0, 0, 0, 0.735),0 17px 50px 0 rgba(255, 255, 255, 0.468);
}

.sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    /* background-color:rgba(0,0,0,0.5); */
    background-color:rgba(0, 0, 0, 0.749);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menu-button{
    display:none;
}

.navigation li{
    padding:0 10px;

}
/* this is the color for the text in the body paragrahs /headings */
#main2{
    min-height:100%;
    color:white;
}
#main1{
    
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: rgba(0, 0, 0, 0.749);
    position: relative;
    height: 100px;
    margin-top: -100px;
    color:white;
    padding:3em;
    clear: both;
    
}


@media(max-width:850px){
    .hideonMobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
    .navigation li {
        padding: 0 5px; /* Adjust the padding for smaller screens */
    }

}
@media(max-width:400px){
    .sidebar{
        width:100%;
    }

}


